*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #171717;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    margin: 20px;
    color: #ededed;
    font-size: 52px;
}

.container{
    height: 400px;
    width: 400px;
    border: 2px solid #ededed;
}

.box{
    height: 16px;
    width: 16px;
    border: 1px solid #ededed;
}