*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    background-color: #171717;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

h1{
    margin: 20px;
    color: #ededed;
    font-size: 52px;
}

.container{
    display: flex;
    width: 400px;
    height: 400px;
}

.rows{
    flex-direction: row;
    flex: 1;
    height: 25px;
    width: 25px;
    border: 1px solid #ededed;
}

.columns{
    flex-direction: column;
    flex: 1;
    border: 1px solid #ededed;
}

.square:hover{
    background-color: #ededed;
}